Jeffrey Wilcke <jeffrey@odf.org>
Jeffrey Wilcke <jeffrey@odf.org> <geffobscura@gmail.com>
Jeffrey Wilcke <jeffrey@odf.org> <obscuren@obscura.com>
Jeffrey Wilcke <jeffrey@odf.org> <obscuren@users.noreply.github.com>

Viktor Trón <viktor.tron@gmail.com>

Joseph Goulden <joegoulden@gmail.com>

Nick Savers <nicksavers@gmail.com>

Maran Hidskes <maran.hidskes@gmail.com>

Taylor Gerring <taylor.gerring@gmail.com>
Taylor Gerring <taylor.gerring@gmail.com> <taylor.gerring@odf.org>

Bas van Kervel <bas@odfdev.com>
Bas van Kervel <bas@odfdev.com> <basvankervel@ziggo.nl>
Bas van Kervel <bas@odfdev.com> <basvankervel@gmail.com>
Bas van Kervel <bas@odfdev.com> <bas-vk@users.noreply.github.com>

Sven Ehlert <sven@odfdev.com>

Vitalik Buterin <v@buterin.com>

Marian Oancea <contact@siteshop.ro>

Christoph Jentzsch <jentzsch.software@gmail.com>

Heiko Hees <heiko@heiko.org>

Alex Leverington <alex@odfdev.com>
Alex Leverington <alex@odfdev.com> <subtly@users.noreply.github.com>

Zsolt Felf